<footer>
  <div id="makersacademy-logo">
    <a href="http://www.makersacademy.com/">
      <img src="http://bootcamper.io/spree/products/1102/product/makersacademy-200x200.png?1375403415">
    </a>
      <span class="text">
    <a href="http://www.google.com">Copyright © Vincent van Koch</a>
    </span>
  </div>

</footer>
