<% if @users.any? %>
	<h1>Welcome <%= @user.username %>!</h1>
<% end %>

<%if @restaurants.any? %>
	<%@restaurants.each do |restaurant| %>
		<ul class="restaurant">
			 <li class="name"> <%=link_to restaurant.name, restaurant_path(restaurant)%></li>
		<li class="description"><%= restaurant.description %></li>
		<li class="rating"><%= restaurant.rating %></li>
		</ul>
	<%end%>
<%else %>
	<h1>No restaurants</h1>
<%end%>

<a href="/restaurants/new">Create restaurant</a>ra